html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

button {
  touch-action: manipulation;
}

#container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  padding: 16px;
  width: 360px;
  max-width: 50vh;
  gap: 8px;
}

#level {
  height: 40px;
}

#key {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  max-width: 50%;
  align-self: center;
}

#message {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-auto-flow: column;
  gap: 2px;
}

#health {
  display: grid;
  grid-template-columns: repeat(var(--health-bar-length), 1fr);
  grid-template-rows: 1fr;
  gap: 2px;
}

#controls {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
}

.cell {
  background: #eee;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.health-full {
  background: lightgreen;
}

.blank {
  background: transparent;
}