---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Jeff Baumes
      </span>
    </h1>
  </div>
  <div>
    <p class="mb-5">
      Hello and welcome.
    </p>
    <p class="mb-5">
      I create software in my day job, and my hobby is creating software. But when I really want to relax, I create software.
    </p>
    <p class="mb-5">
      This area is a place to organize some of my <span class="font-bold">hobby</span> work. If you want to be all serious
      you should probably check out my professional profile on <a href="https://linkedin.com/in/jeffbaumes">LinkedIn</a>
      or my <a href="https://poly.cam">employer's website</a>. I'm not much for social media, but I do check in on
      LinkedIn from time to time and if you give me an interesting reason to connect I'll probably accept
      the invite.
    </p>
    <p class="mb-5">
      I'm pretty well versed in web programming and data visualization.
      I also have a lot of experience in C++ and Python, and I've been known to dabble in other languages.
      I'm particularly interested in graphics programming, spinning up small projects in WebGL, WebGPU, and Vulkan.
      I also really like front end development, and the never-ending framework merry-go-round doesn't actually bother
      me all that much. Keeping up gives me something to do, and each framework usually introduces something new
      and interesting.
    </p>
    <p class="mb-5">
      I've done a fair bit of <a href="https://scholar.google.com/citations?user=fQh9kkoAAAAJ">research</a>
      over the years in graph theory, visualization, and a few scattered biomedical domains.
      My biggest claim to research fame (other than having an
      <a href="https://sites.google.com/oakland.edu/grossman/home/the-erdoes-number-project/the-erdoes-number-project-data-files/erdos2">
      Erdős number of two</a>) is probably introducing one of the first
      <a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=fQh9kkoAAAAJ&citation_for_view=fQh9kkoAAAAJ:u-x6o8ySG0sC">
      overlapping clustering algorithms</a>.
    </p>
  </div>
</section>
